{% extends 'base.html' %}

{% load static %}


{% block contant %}

	<!-- Latest news section -->
	<div class="latest-news-section">
		<div class="ln-title">Latest News</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				<div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
				<div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
				<div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
			</div>
		</div>
	</div>
	<!-- Latest news section end -->


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{%static 'img/page-top-bg/1.jpg'%}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Video Gallery</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
	<section class="page-section recent-game-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
                        {% if blogs %}
                            {% for blog in page_obj %}
						<div class="col-md-6">
							<div class="recent-game-item">
								<div class="rgi-thumb set-bg" data-setbg="{{ blog.photo.url }}">
									<div class="cata new">{{ blog.category }}</div>
								</div>
								<div class="rgi-content">
									<h5>{{ blog.name }}</h5>
									<p>{{ blog.description }} </p>
									<a href="#" class="comment">3 Comments</a>
									<div class="rgi-extra">
										<div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
										<div class="rgi-heart"><img src="{% static 'img/icons/heart.png'%}" alt=""></div>
									</div>
								</div>
							</div>	
						</div>
                        {% endfor %}
                     {%  else  %}
                            <p>There is no block.</p>
                    {% endif %}
                    </div>

					<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
				</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
					<!-- widget -->
					<div class="widget-item">
						<form class="search-widget">
							<input type="text" placeholder="Search">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- widget -->
					<div class="widget-item p-3 mb-2 bg-secondary ">

						<h4 class="widget-title">Latest Posts</h4>
						<div class="latest-blog">
                            {% if latest_blog %}
                            {% for r in latest_blog %}
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{{ r.photo.url }}"></div>
								<div class="lb-content">
									<div class="lb-date">{{ r.date }}</div>
									<p>{{ r.description}}</p>

								</div>
							</div>
                            {% endfor %}
                            {% else %}
                          <p> do nothing </p>
                         {% endif %}

						</div>
					</div>
                <div class="widget-item  ">
                    <div class="widget-title">
                       <h1>          </h1>
                        <h1>          </h1>

                    </div>

                </div>
					<!-- widget -->

					<div class="widget-item  ">
						<h4 class="widget-title text-black-50">Top Comments</h4>
						<div class="top-comment ">
                            {% if latest_comment %}
                            {% for c in latest_comment%}
							<div class="tc-item">
                                    <div class="lb-thumb set-bg" data-setbg="{{ c.Porfile.avatar.url }}"></div>
								<div class="tc-content">
									<p><a href="#">{{c.name}}</a> <span>on</span> {{c.post}}</p>
									<div class="tc-date">{{c.date}}</div>
								</div>
							</div>
                            {% endfor %}
                                {% else %}
                                <p>There is no comment NOW</p>
							{% endif %}


						</div>
					</div>
					<!-- widget -->
					<div class="widget-item">
						<div class="feature-item set-bg" data-setbg="img/features/1.jpg">
							<span class="cata new">new</span>
							<div class="fi-content text-white">
								<h5><a href="#">Suspendisse ut justo tem por, rutrum</a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
								<a href="#" class="fi-comment">3 Comments</a>
							</div>
						</div>
					</div>
					<!-- widget -->
					<div class="widget-item">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="img/review/1.jpg">
								<div class="score yellow">9.3</div>
							</div>
							<div class="review-text">
								<h5>Assasin’’s Creed</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->

{% endblock  %}